doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=600, initial-scale=1")
    script(src="https://unpkg.com/tippy.js@2.2.2/dist/tippy.all.min.js")
    title #{pageTitle}
    
  body
  
    span(style="display:none;")
      each jsPath in linkedPreloadedJS
        script(type="text/javascript" src="#{jsPath}.js")
      each googleFontPath in googleFonts
        link(href="https://fonts.googleapis.com/css?family=#{googleFontPath}" rel='stylesheet' type='text/css')
      each cssPath in linkedCSS
        link(rel="stylesheet" href="#{cssPath}.css")
      each jsPath in linkedJS
        script(type="text/javascript" src="#{jsPath}.js")
    
    div#saveLifeDialog
      div.content
        div.row.lifeName
          div.label
            | Life name
          input
        div.row.lifeStats
          div.label
            | Properties
          div.stats
            | Stats
      div.btn.save
        | Save
      div.btn.cancel
        | Cancel
    div#seeUrlDialog
      div.row.text
        | The link to your save was generated below please copy it:
      div.row.url
        | Generating url...
      div.btn.ok
        | Ok
    div#toolbox
    div#propDisplay
      div.row.col
        div.box
      div.row.state
      div.row.position
      div.row.modifTime
      div.row.prevType
      div.row.templates#templatesFrame
        ul#templatesContent(class="slidee")
    span#fieldMask
    span#fieldMaskTooltipContent
    div#slyFrame
      ul#slyContent(class="slidee")
    canvas#golcanvas
